.DS_Store
key/
ses/Output/
Octave/
*Debug
*.msi
firmware/Source/Code/nRF/nRF5_SDK_15.3/config/
!firmware/Source/Code/nRF/nRF5_SDK_15.3/documentation/
firmware/Source/Code/nRF/nRF5_SDK_15.3/examples/
firmware/Source/Code/nRF/nRF5_SDK_15.3/external/
firmware/Source/Code/nRF/nRF5_SDK_15.3/external_tools/
firmware/Source/Code/nRF/nRF5_SDK_15.3/integration/
firmware/Source/Code/nRF/nRF5_SDK_15.3/modules/
firmware/Source/Code/nRF/nRF5_SDK_15.3/nRF5_SDK_15.3.0_offline_doc/
firmware/Source/Code/nRF/nRF5_SDK_15.3/components/*
!firmware/Source/Code/nRF/nRF5_SDK_15.3/components/ble/
firmware/Source/Code/nRF/nRF5_SDK_15.3/components/ble/*
!firmware/Source/Code/nRF/nRF5_SDK_15.3/components/ble/ble_services/
firmware/Source/Code/nRF/nRF5_SDK_15.3/components/ble/ble_services/*
!firmware/Source/Code/nRF/nRF5_SDK_15.3/components/ble/ble_services/ble_beep/
